# Configuration de la base de données PostgreSQL
POSTGRES_USER=mon_utilisateur_db
POSTGRES_PASSWORD=mon_mot_de_passe_secret
POSTGRES_DB=nom_de_la_bdd

# Configuration de l'environnement applicatif
NODE_ENV=development
